// Specific CSS for your home-page
.container {
  width: 100%;
  background-color: #FFFFFF;
  height: 100%;
}


#about-me {
  margin-left: 30px;
  text-align: initial;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.6em;
  text-align: left;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#consulting-text {
  text-align: initial;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.6em;
  text-align: left;
}
