<div class="container">
  <div class="logo-consulting">
    <%= cl_image_tag('https://res.cloudinary.com/diavcbwzh/image/upload/v1606245820/Noa%20Bakery/WhatsApp_Image_2020-11-24_at_17.02.58_1_ii535n.jpg')%>
  </div>
  <%= render 'shared/navbar' %>
</div>
