<div class="container">
  <div class="logo-creation">
    <%= cl_image_tag('https://res.cloudinary.com/diavcbwzh/image/upload/v1606245812/Noa%20Bakery/WhatsApp_Image_2020-11-24_at_17.04.02_o0x0ap.jpg')%>
  </div>
  <%= render 'shared/navbar' %>

<div class='embedsocial-instagram' data-ref="6d3e5ebca6051654aac10134b8f1bbc625cd29db"></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/embedscript/in.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialInstagramScript"));</script>

</div>
