<div class="container">
  <div class="logo-home">
    <%= cl_image_tag('https://res.cloudinary.com/diavcbwzh/image/upload/v1606245805/Noa%20Bakery/WhatsApp_Image_2020-11-24_at_17.04.03_hmptck.jpg')%>
  </div>
  <%= render 'shared/navbar' %>
  <div class="avatar">
    <%= image_tag "candice.jpg"%>
  </div>
</div>
