.logo-home {
  text-align-last: center;
}

.logo-consulting {
  text-align-last: center;
}

.logo-atelier {
  text-align-last: center;
}

.logo-creation {
  text-align-last: center;
}

.logo-home img {
  margin-top: -6%;
  width: 35%;
  margin-bottom: -7%;
}

.logo-consulting img {
  margin-top: -6%;
  width: 35%;
  margin-bottom: -7%;
}

.logo-atelier img {
  margin-top: -6%;
  width: 35%;
  margin-bottom: -7%;
}

.logo-creation img {
  margin-top: -6%;
  width: 35%;
  margin-bottom: -7%;
}


@media (min-width: 100px) and (max-width: 575px) {
  .logo-home img {
  text-align-last: center;
  margin-top: -4%;
  width: 45%;
  margin-bottom: -9%;
  }

  .logo-consulting img {
  text-align-last: center;
  margin-top: -4%;
  width: 45%;
  margin-bottom: -9%;
  }

  .logo-atelier img {
  text-align-last: center;
  margin-top: -4%;
  width: 45%;
  margin-bottom: -9%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .logo-home img {
    text-align-last: center;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .logo-home img {
    text-align-last: center;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .logo-home img {
    text-align-last: center;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .logo-home img {
    text-align-last: center;
  }
}
